<%- contentFor('scriptHold') %>
 <script src="/static/client.js"></script>
<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
      <h2>User Manual</h2>
      <a href ="/" class="btn btn-lg btn-primary">BreathBox</a>
     </div>
    </section>
   
        <%- contentFor('body') %>
         <div class="jumbotron text-center">
        
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Topic
			</th>
			<th>
				Information
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				BreathBox Unit Operation
			</td>
			<td>
				<ul>
				<li>Upon powering up the BreathBox unit, a BreathBox wireless connection will be broadcast.  Use this to connect to the BreathBox application.</li>
				<li>Please give as much as two minutes time for the unit to finish booting.</li>
				<li>If problems persist, please contact your assigned PNAH LLC Operator for assitance.</li>
           			<li>The password for BreathBox wireless is breathboxtest.</li>
				<li>To play the Trivia game, you must navigate to the BreathBox Game/BBTG screen.</li>
				<li>Periodically, you will be asked to refresh the game screen as users connect, disconnect, and answer questions.</li>
				<li>In the event of connection failure, power down and restart the BreathBox unit.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				Trivia Gameplay
			</td>
			<td>
				<ul>
				 <li>To request a trivia question, hit the Request Trivia button - only one user may do this at a time.</li>
	   			<li>Before being allowed to submit trivia, you must blow on the BreathBox breath sensor. Please hold the button on the box when you blow or the reading won't be accepted.</li>
	   			<li>A green highlight of your answer means you answered the question correctly - a red means your answer was wrong, while the correct will be highlighted in blue.</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

         </div>
     