<%- contentFor('scriptHold') %>
 <script src="/static/client.js"></script>
<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
      <h2>Welcome to BreathBox!</h2>
    
      <a href ="/about" class="btn btn-lg btn-primary">Manual</a>
      <a href= "/contact" class="btn btn-lg btn-primary">BBTG</a>
     </div>
    </section>
   
        <%- contentFor('body') %>
         <div class="jumbotron text-center">
           <p>BreathBox was developed by Tom Castonzo, Austin Gagnon, Max Fowler, and Zhitian Zhang. Probably Not a Hotbox LLC (PNAH) is a fictional organization.</p>
	 
         </div>
     
