
<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
      <h2>Welcome to BreathBox</h2>
     </div>
    </section>
   
        <%- contentFor('body') %>
         <div class="jumbotron text-center">
          <form action="/login" method="POST">
		<div class="form-group">
  		<label>Select Your Name</label>
		<input type="text" name="name" class="form-control"> </div>
	<div class="form-group text-right">
	<button type="submit" class="btn btn-primary btn-lg">Enter BreathBox</button>
	</div>
	</form>
         </div>
     
